@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div id="footer">

			<div id="footer-left-nav">
				<ul>
					<li><a href="#">Hotel Brochure</a></li>
					<li><a href="#">Newsletter</a></li>
					<li><a href="#">Media Hub</a></li>
					<li><a href="#">Awards</a></li>
				</ul>
			</div>


			<div id="footer-icons">
				<ul id="footer-icons-awards">
					<li><img src="images/icon-relais-chateaux.png" /></li>
					<li><img src="images/icon-by-appointment.png" /></li>
					<li><img src="images/icon-pride-of-britain.png" /></li>
				</ul>

				<ul id="footer-icons-social">
					<li><a target="_blank" href="#"><img src="images/icon-google.png" /></a></li>
					<li><a target="_blank" href="#"><img src="images/icon-linkedin.png" /></a></li>
					<li><a target="_blank" href="#"><img src="images/icon-facebook.png" /></a></li>
					<li><a target="_blank" href="#"><img src="images/icon-tripadvisor.png" /></a></li>
					<li><a target="_blank" href="#"><img src="images/icon-twitter.png" /></a></li>
				</ul>
			</div>


			<div id="footer-right-nav">
				<ul>
					<li><a href="#">Travel Professionals</a></li>
					<li><a href="#">Groups</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Villa Iduzkia</a></li>
				</ul>
			</div>




		</div>
		
		<div id="footer-legal-nav">
			<ul>
				<li>&copy; The Goring 2015</li>
				<li><a href="#">Site Map</a></li>
				<li><a href="#">Legal &amp; Privacy</a></li>
			</ul>
		</div>
		