<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT layout ANY>
<!ATTLIST layout id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
]>
<root id="-1">
  <home id="1131" key="9753414e-07d9-4884-b245-e01f25fb3748" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-19T21:25:07" updateDate="2018-09-20T16:50:53" nodeName="Home" urlName="home" path="-1,1131" isDoc="" nodeType="1055" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1054" nodeTypeAlias="home" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <logo><![CDATA[umb://media/3a38db95b3c7413d83d08410c9173830]]></logo>
    <slider><![CDATA[umb://media/d3bc63e1e5014fd498cdc7fca0fdf577]]></slider>
    <textPage id="1143" key="c8325c28-6182-445e-80a9-3a2f0b724049" parentID="1131" level="2" creatorID="0" sortOrder="0" createDate="2018-09-19T22:05:34" updateDate="2018-09-19T22:06:12" nodeName="The Goring" urlName="the-goring" path="-1,1131,1143" isDoc="" nodeType="1133" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1132" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </textPage>
    <textPage id="1134" key="b1d3afc8-ce7c-4370-9a41-b104524a9292" parentID="1131" level="2" creatorID="0" sortOrder="1" createDate="2018-09-19T21:46:16" updateDate="2018-09-20T19:35:10" nodeName="Our Offers" urlName="our-offers" path="-1,1131,1134" isDoc="" nodeType="1133" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1132" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h1>SAMPLE TEXT</h1>
<h2>The small print</h2>
<p> </p>
<h3>OVER A CENTURY OF LUXURY SERVICE</h3>
<p>All reservations require a guarantee or deposit in lieu. Methods that are accepted as a guarantee include: credit card, deposit, a pre-approved travel agent or a pre-approved company. Guaranteed reservations are held until 10am the day after scheduled arrival.<br /> </p>
<h3>DEPOSIT POLICY</h3>
<p>A deposit may be used as a method of guarantee. The following are accepted deposit methods: wire transfer, bank cheque, company cheque, traveller's cheque or cash. Deposits are non-refundable. pastime to popularity once again.<br /> </p>
<h3>PAYMENT</h3>
<p>Payments to The Goring are to be made on the date(s) and in the amounts to be calculated as specified at the time of booking or outlined in contracts made. If any services under the contract are varied prior to arrival then the payment made will reflect the latest details contained in the written details of The Goring.</p>
<p>Any additional charges due to The Goring for services provided shall be paid by the Client on presentation of an invoice.</p>
<p>For room reservations made using the advance purchase rate full payment will be taken at the time of booking. This payment is not refundable in the event of any amendment or cancellation.</p>
<p>Cash payment is not accepted for walk in guests - a valid credit or debit card must be swiped through the chip and pin machine and adequate authorisation taken</p>
<p>All walk in and same day booking guests must provide photographic identification on arrival regardless of their nationality</p>]]></bodyText>
    </textPage>
    <textPage id="1135" key="e2210c2c-cd6c-436d-a72d-2d0a97f44ef2" parentID="1131" level="2" creatorID="0" sortOrder="2" createDate="2018-09-19T21:46:51" updateDate="2018-09-20T19:35:29" nodeName="Our Suites" urlName="our-suites" path="-1,1131,1135" isDoc="" nodeType="1133" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1132" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h1>SAMPLE TEXT</h1>
<h2>The small print</h2>
<p> </p>
<h3>OVER A CENTURY OF LUXURY SERVICE</h3>
<p>All reservations require a guarantee or deposit in lieu. Methods that are accepted as a guarantee include: credit card, deposit, a pre-approved travel agent or a pre-approved company. Guaranteed reservations are held until 10am the day after scheduled arrival.<br /> </p>
<h3>DEPOSIT POLICY</h3>
<p>A deposit may be used as a method of guarantee. The following are accepted deposit methods: wire transfer, bank cheque, company cheque, traveller's cheque or cash. Deposits are non-refundable. pastime to popularity once again.<br /> </p>
<h3>PAYMENT</h3>
<p>Payments to The Goring are to be made on the date(s) and in the amounts to be calculated as specified at the time of booking or outlined in contracts made. If any services under the contract are varied prior to arrival then the payment made will reflect the latest details contained in the written details of The Goring.</p>
<p>Any additional charges due to The Goring for services provided shall be paid by the Client on presentation of an invoice.</p>
<p>For room reservations made using the advance purchase rate full payment will be taken at the time of booking. This payment is not refundable in the event of any amendment or cancellation.</p>
<p>Cash payment is not accepted for walk in guests - a valid credit or debit card must be swiped through the chip and pin machine and adequate authorisation taken</p>
<p>All walk in and same day booking guests must provide photographic identification on arrival regardless of their nationality</p>]]></bodyText>
    </textPage>
    <textPage id="1136" key="2a813120-f6f1-43e6-bf4f-3db9a9e01358" parentID="1131" level="2" creatorID="0" sortOrder="3" createDate="2018-09-19T21:47:23" updateDate="2018-09-20T19:35:38" nodeName="Our Rooms" urlName="our-rooms" path="-1,1131,1136" isDoc="" nodeType="1133" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1132" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h1>SAMPLE TEXT</h1>
<h2>The small print</h2>
<p> </p>
<h3>OVER A CENTURY OF LUXURY SERVICE</h3>
<p>All reservations require a guarantee or deposit in lieu. Methods that are accepted as a guarantee include: credit card, deposit, a pre-approved travel agent or a pre-approved company. Guaranteed reservations are held until 10am the day after scheduled arrival.<br /> </p>
<h3>DEPOSIT POLICY</h3>
<p>A deposit may be used as a method of guarantee. The following are accepted deposit methods: wire transfer, bank cheque, company cheque, traveller's cheque or cash. Deposits are non-refundable. pastime to popularity once again.<br /> </p>
<h3>PAYMENT</h3>
<p>Payments to The Goring are to be made on the date(s) and in the amounts to be calculated as specified at the time of booking or outlined in contracts made. If any services under the contract are varied prior to arrival then the payment made will reflect the latest details contained in the written details of The Goring.</p>
<p>Any additional charges due to The Goring for services provided shall be paid by the Client on presentation of an invoice.</p>
<p>For room reservations made using the advance purchase rate full payment will be taken at the time of booking. This payment is not refundable in the event of any amendment or cancellation.</p>
<p>Cash payment is not accepted for walk in guests - a valid credit or debit card must be swiped through the chip and pin machine and adequate authorisation taken</p>
<p>All walk in and same day booking guests must provide photographic identification on arrival regardless of their nationality</p>]]></bodyText>
    </textPage>
    <textPage id="1137" key="1f8e48f7-d14e-428c-9e7d-84eb4ae44e66" parentID="1131" level="2" creatorID="0" sortOrder="4" createDate="2018-09-19T21:47:37" updateDate="2018-09-20T19:35:53" nodeName="Location" urlName="location" path="-1,1131,1137" isDoc="" nodeType="1133" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1132" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h1>SAMPLE TEXT</h1>
<h2>The small print</h2>
<p> </p>
<h3>OVER A CENTURY OF LUXURY SERVICE</h3>
<p>All reservations require a guarantee or deposit in lieu. Methods that are accepted as a guarantee include: credit card, deposit, a pre-approved travel agent or a pre-approved company. Guaranteed reservations are held until 10am the day after scheduled arrival.<br /> </p>
<h3>DEPOSIT POLICY</h3>
<p>A deposit may be used as a method of guarantee. The following are accepted deposit methods: wire transfer, bank cheque, company cheque, traveller's cheque or cash. Deposits are non-refundable. pastime to popularity once again.<br /> </p>
<h3>PAYMENT</h3>
<p>Payments to The Goring are to be made on the date(s) and in the amounts to be calculated as specified at the time of booking or outlined in contracts made. If any services under the contract are varied prior to arrival then the payment made will reflect the latest details contained in the written details of The Goring.</p>
<p>Any additional charges due to The Goring for services provided shall be paid by the Client on presentation of an invoice.</p>
<p>For room reservations made using the advance purchase rate full payment will be taken at the time of booking. This payment is not refundable in the event of any amendment or cancellation.</p>
<p>Cash payment is not accepted for walk in guests - a valid credit or debit card must be swiped through the chip and pin machine and adequate authorisation taken</p>
<p>All walk in and same day booking guests must provide photographic identification on arrival regardless of their nationality</p>]]></bodyText>
    </textPage>
    <textPage id="1138" key="686817db-fe2e-4130-b4fe-aa937985b532" parentID="1131" level="2" creatorID="0" sortOrder="5" createDate="2018-09-19T21:47:46" updateDate="2018-09-20T19:36:03" nodeName="Dining" urlName="dining" path="-1,1131,1138" isDoc="" nodeType="1133" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1132" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h1>SAMPLE TEXT</h1>
<h2>The small print</h2>
<p> </p>
<h3>OVER A CENTURY OF LUXURY SERVICE</h3>
<p>All reservations require a guarantee or deposit in lieu. Methods that are accepted as a guarantee include: credit card, deposit, a pre-approved travel agent or a pre-approved company. Guaranteed reservations are held until 10am the day after scheduled arrival.<br /> </p>
<h3>DEPOSIT POLICY</h3>
<p>A deposit may be used as a method of guarantee. The following are accepted deposit methods: wire transfer, bank cheque, company cheque, traveller's cheque or cash. Deposits are non-refundable. pastime to popularity once again.<br /> </p>
<h3>PAYMENT</h3>
<p>Payments to The Goring are to be made on the date(s) and in the amounts to be calculated as specified at the time of booking or outlined in contracts made. If any services under the contract are varied prior to arrival then the payment made will reflect the latest details contained in the written details of The Goring.</p>
<p>Any additional charges due to The Goring for services provided shall be paid by the Client on presentation of an invoice.</p>
<p>For room reservations made using the advance purchase rate full payment will be taken at the time of booking. This payment is not refundable in the event of any amendment or cancellation.</p>
<p>Cash payment is not accepted for walk in guests - a valid credit or debit card must be swiped through the chip and pin machine and adequate authorisation taken</p>
<p>All walk in and same day booking guests must provide photographic identification on arrival regardless of their nationality</p>]]></bodyText>
    </textPage>
    <textPage id="1139" key="3c34a10f-7c43-480b-bf1b-f7251c18ad13" parentID="1131" level="2" creatorID="0" sortOrder="6" createDate="2018-09-19T21:48:02" updateDate="2018-09-20T19:36:13" nodeName="Events" urlName="events" path="-1,1131,1139" isDoc="" nodeType="1133" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1132" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h1>SAMPLE TEXT</h1>
<h2>The small print</h2>
<p> </p>
<h3>OVER A CENTURY OF LUXURY SERVICE</h3>
<p>All reservations require a guarantee or deposit in lieu. Methods that are accepted as a guarantee include: credit card, deposit, a pre-approved travel agent or a pre-approved company. Guaranteed reservations are held until 10am the day after scheduled arrival.<br /> </p>
<h3>DEPOSIT POLICY</h3>
<p>A deposit may be used as a method of guarantee. The following are accepted deposit methods: wire transfer, bank cheque, company cheque, traveller's cheque or cash. Deposits are non-refundable. pastime to popularity once again.<br /> </p>
<h3>PAYMENT</h3>
<p>Payments to The Goring are to be made on the date(s) and in the amounts to be calculated as specified at the time of booking or outlined in contracts made. If any services under the contract are varied prior to arrival then the payment made will reflect the latest details contained in the written details of The Goring.</p>
<p>Any additional charges due to The Goring for services provided shall be paid by the Client on presentation of an invoice.</p>
<p>For room reservations made using the advance purchase rate full payment will be taken at the time of booking. This payment is not refundable in the event of any amendment or cancellation.</p>
<p>Cash payment is not accepted for walk in guests - a valid credit or debit card must be swiped through the chip and pin machine and adequate authorisation taken</p>
<p>All walk in and same day booking guests must provide photographic identification on arrival regardless of their nationality</p>]]></bodyText>
    </textPage>
    <contactUs id="1142" key="b9e0c91c-0d44-4c72-bec2-6dffd39ea751" parentID="1131" level="2" creatorID="0" sortOrder="7" createDate="2018-09-19T22:02:35" updateDate="2018-09-20T20:06:41" nodeName="Contact Us" urlName="contact-us" path="-1,1131,1142" isDoc="" nodeType="1141" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1140" nodeTypeAlias="contactUs" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <emailTo><![CDATA[peteroochieng@gmail.com]]></emailTo>
      <emailFrom><![CDATA[enzonetest@gmail.com]]></emailFrom>
      <bodyText><![CDATA[<p><span>I can confirm that by submitting and completing this form, I have read and understood the booking conditions and treatment contra-indications as stated on the Champneys website. I agree to accept the advice given by members of the staff during my visit. I understand that all treatments, services and facilities used during my visit are undertaken at my own risk and Champneys Health Resorts group cannot accept any responsibility for any injury unless due to negligence or breach of duty on the part of the company and its employees.</span></p>]]></bodyText>
      <textPage id="1155" key="32a79e3e-039f-4ff1-ae08-183cedcadb1e" parentID="1142" level="3" creatorID="0" sortOrder="0" createDate="2018-09-20T19:53:50" updateDate="2018-09-20T20:07:06" nodeName="Thank you" urlName="thank-you" path="-1,1131,1142,1155" isDoc="" nodeType="1133" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1132" nodeTypeAlias="textPage" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <bodyText><![CDATA[<p>Thank you for your enquiry.</p>]]></bodyText>
      </textPage>
    </contactUs>
  </home>
</root>