<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT layout ANY>
<!ATTLIST layout id ID #REQUIRED>
]>
<root id="-1">
  <home id="1131" key="9753414e-07d9-4884-b245-e01f25fb3748" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-19T21:25:07" updateDate="2018-09-19T21:25:49" nodeName="Home" urlName="home" path="-1,1131" isDoc="" nodeType="1055" creatorName="Peter Ochieng" writerName="Peter Ochieng" writerID="0" template="1054" nodeTypeAlias="home" isPublished="false">
    <umbracoNaviHide>0</umbracoNaviHide>
  </home>
</root>