@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Layout.cshtml";
}

<div class="main-content body one-column cf">
    @Html.Raw(CurrentPage.bodyText)
</div>